<app-navbar></app-navbar>
<div class="cont pad" style="height:auto;width:auto;background-image:url(assets/header.jpg)">
  <div class="call">
    <div class="container">
      <h1> Services </h1>
    </div>
  </div>
</div>

<div class="section-why">
  <div class="container top-padding">
    <div class="row">
      <div class="col-md-7 col-md-pull-7 floatLeft ">
        <div class="step-number "><span><i class="fas fa-book"></i></span></div>
        <h4><strong><span style="color: black;">Why do we use it?</span></strong></h4>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it.</p>

        <div class="step-number "><span><i class="fas fa-calculator"></i></span></div>
        <h4><strong><span style="color: black;">Where can I get some?</span></strong></h4>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>

        <div class="step-number "><span><i class="fas fa-calendar-times"></i></span></div>
        <h4><strong><span style="color: black;">What is Lorem Ipsum?</span></strong></h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>

        <div class="step-number "><span><i class="fas fa-lock"></i></span></div>
        <h4><strong><span style="color: black;">Where does it come from?</span></strong></h4>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
      </div>

      <div class="col-md-5 col-md-pull-5 girl">
        <img class = "girl" style="" src="assets/girl.png"/>
      </div>
    </div></div></div>

    <div class="cont" style="height:auto;width:auto;background-position: bottom;background-image:url(assets/contacts.jpg)">
      <h3 class="cont-title">
        Request service
      </h3>
      <app-contact-form></app-contact-form>
    </div>
    <app-footer></app-footer>
