<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<h3>Lorem Ipsum</h3>
				<hr>
				<p>
					<a routerLink="/services">Why do we use it?</a><br>
					<a routerLink="/services">What is Lorem Ipsum?</a><br>
					<a routerLink="/services">Where can I get some?</a><br>
					<a routerLink="/services">Where does it come from?</a><br>
				</p>
			</div>
			<div class="col-md-3 col-sm-6">
				<h3>Contact Us</h3>
				<hr>
				<p>
					Merlinx-Angular<br>
					Someplace<br>
					8555555555<br>
					test@test.com
				</p>
			</div>
			<div class="col-md-3 col-sm-6">
				<h3>Extra information</h3>
				<hr>
				<p>
					<a href="#">It is a long established</a><br>
					<a href="#">be distracted by the</a><br>
					<a href="#">There are many variations of passages</a><br>
					<a href="#">All the Lorem Ipsum generators</a>	<br>
				</p>
			</div>
			<div class="col-md-3 col-sm-6">
				<h3>Login form</h3>
				<hr>
				<div *ngIf="dataBase.user$ | async as user,else loginForm">
					You are logged in
				</div>

				<ng-template #loginForm>
					<div class="form-group">
						<label class="labelText" for="exampleInputEmail1">Email</label>
						<input type="email" class="form-control" [(ngModel)]="user.email" placeholder="Email" required>
					</div>

					<div class="form-group">
						<label class="labelText" for="exampleInputPassword1">Password</label>
						<input type="password" class="form-control" [(ngModel)]="user.password" placeholder="Password" required>
					</div>

					<button type="buton" class="btn btn-primary btn-block" style="margin-bottom: 20px" (click)="signInWithEmail()">
						Login
					</button>
				</ng-template>
			</div>
		</div>
		<div class="col-md-12">
			<hr>
			<div class="creator">
				© 2018 Uab Merlinx-Angular
			</div>
		</div>
	</div>
</footer>
