<div class="size">
  <div class="cont">
    <div class="slider-img"> </div>
    <div class="container">
      <div class="carousel-caption2">
        <p class="slider-slogan animated fadeInDown">Lorem Ipsum is simply dummy text of the</p>
        <p class="buttons animated fadeInUp">
          <a class="btn btn-lg btn-primary" style="width:166px;" routerLink="/services" role="button">Services</a>
          <a class="btn btn-lg btn-primary" style="width:166px;" routerLink="/contact" href="#" role="button">Contacts</a></p>
        </div></div>
      </div>
    </div>
