<app-slide></app-slide>
<app-navbar></app-navbar>

<div class="center title">
  Where does it come from?
</div>

<section class="section-why">
  <div class="container top-padding">
    <div class='row'>
      <div class="col-md-6 col-md-push-6 floatRight center">
        <img class="responsive" src="assets/responsibility.jpg" alt="Reitingo grafikas">
      </div>

      <div class="col-md-6 col-md-pull-6 flt">
        <div class="step-number"><span>1</span></div>
        <h4><strong><span style="color: black;">What is Lorem</span></strong></h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
      </div>
    </div>
  </div>

  <div class="container top-padding">
    <div class='row'>
      <div class="col-md-6 center">
        <img  class="responsive"src="assets/quality.jpg" alt="Quality rating">
      </div>
      <div class="col-md-6 margin-top">
        <div class="step-number "><span>2</span></div>
        <h4><strong><span style="color: black;">Why do</span></strong></h4>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
      </div>
    </div>
  </div>

  <div class="container top-padding">
    <div class='row'>
      <div class="col-md-6 col-md-push-6 floatRight center">
        <img class="responsive" src="assets/modern.jpg" alt="Reitingo grafikas">
      </div>

      <div class="col-md-6 col-md-pull-6 flt">
        <div class="step-number "><span>3</span></div>
        <h4><strong><span style="color: black;">Lorem Ipsum</span></strong></h4>
        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
      </div>
    </div>
  </div>
</section>

<div class="center">
  <div class="cont" style="  height:auto;width:auto;padding: 60px;background-image:url(assets/experience.jpg)">
    <div class="center client-stats">
      What is
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="info">
          <div class="center">
            <div class="count-fs">
              <span class="counter-count">152</span>
            </div>
            Why do we use it?
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4">
        <div class="info">
          <div class="center">
            <div class="count-fs">
              <span class=" counter-count">10</span>
            </div>
            Where does it come from?
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4">
        <div class="info">
          <div class="center">
            <div class="count-fs">
              <span class=" counter-count">100</span>%
            </div>
            Where can I get some?
          </div>
        </div>
      </div>
    </div></div>
  </div>
  <app-footer></app-footer>
