<app-navbar></app-navbar>
<div class="cont pad" style="height:auto;width:auto;background-image:url(assets/header.jpg)">
	<div class=" call">
		<div class=" container">
			<h1> What is Lorem Ipsum? </h1>
		</div>
	</div>
</div>
<div class="top-space"></div>
<div class="top-space"></div>
<div class="container ">
	<div class="main-text">
		What is Lorem Ipsum?
	</div>
	<div class="next">
		What is Lorem Ipsum?<br>
		Where can I get some? <br>
		What is Lorem Ipsum? <br>
		Where can I get some?<br>
	</div>
	<div class="sm-info">
		Where does it come from?<i class="far fa-window-minimize"></i>
		Why do we use it? <i class="far fa-window-minimize"></i>
		Where does it come from? <i class="far fa-window-minimize"></i>
		Why do we use it?
	</div>

	<div class="row">
		<div class="info">
		</div>
		<div class="col-md-4 col-sm-4 center">
			<p class='size'><i class="fas fa-map-marker-alt"></i></p>
			<p>
				Lorem Ipsum is simply<br>
				dummy text of the printing<br>
				<a class="map-link" (click)="scrl()">	Why do we use it? → </a>
			</p>
		</div>
		<div class="col-md-4 col-sm-4  center">
			<p class='size'><i class="fas fa-phone-volume"></i></p>
			And typesetting industry<br>
			Lorem Ipsum has been the
		</div>
		<div class="col-md-4 col-sm-4 center">
			<p class='size'><i class="far fa-clock"></i></p>
			when an unknown printer 8:00 – 17:00<br>
			took a galley of type and<br>
		</div>
	</div>
</div>
<div class="info"></div>
<div class='container'></div>
<div class="top-space"></div>
<div id="map" class="header-middle fullwidth type-featured">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5324.683828142753!2d11.497881122300848!3d48.14221314620532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479e7629ed231803%3A0x90f3ba6b3c88f778!2sSuper+8+Munich+City+West!5e0!3m2!1slt!2slt!4v1532952164000" style="border:0" frameborder="0" width="100%" height="450"></iframe></div>
	<div class="cont" style="height:auto;width:auto;background-position: bottom;background-image:url(assets/contacts.jpg)">
		<h3 class="cont-title">
			Why do we use it?
		</h3>
		<app-contact-form></app-contact-form>
	</div>
	<app-footer></app-footer>
